<!DOCTYPE html>
<head>
    <form name="form1" method="post" onsubmit="fun()">
        <input type="text" name="inputname" placeholder="Enter Text" />
        <button onclick="fun()">Search</button>
    </form>
</head>
<body>
    <p id="root"></p>
    <script>
        function fun() {
            const array = ["agile", "crm", "mantra", "technologies", "500apps", "infinity"];
            const substring = document.form1.inputname.value;
            const matcheddata = array.find(arrayelement => {
                if (arrayelement.includes(substring)) {
                    return true;
                }
            });
            document.write(matcheddata);
            if (matcheddata !== undefined) {
            }
        }
    </script>
</body>
</html>