<!DOCTYPE html>
<html>
<head>
    <h2>9th question</h2>
    <h2>Local Storage and Session Storage</h2>
</head>
<body>
    <div>
        <h2>Local Storage:-</h2>
        <p>
            The data is stored locally in system.
            The data can be avaliable till years.If we delete it then only it gets deleted.And Shared between all tabs and windows from the same origin<br>
            The data does not expire .It remains after the browser restart and even Os reboot.
       </p>
        
    </div>
    <div>
        <h2>Session Storage:-</h2>
        <p> For session storage we can keep expire days when the session gets expired(when expire time comes).
            The session storage exist only within the current browser tab.
            Another tab with the same pages will have a different storage but its shared between iframes in the same
            tab </p>
    </div>
<!--gfyfdtrft-->
</body>
</html>